body {
  background-color: #181818;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #F0F0F0;
}

.full_page {
 display: grid;
 width: 90%;
 grid-template-columns: 75%, 25%;
 gap: 20px, 10px;
}

.main {
}

.sidebar {
  text-align: left;
}

footer {
  text-align: center;
}
