body {
  background-color: #181818;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #F0F0F0;
}

.full_page {
 display: grid;
 background-color: gray;
 grid-template-columns: 80% 20%;
 padding: 10px;
}

.main {
  background-color: white;
  padding: 10px;
}

.sidebar {
  text-align: left;
  background-color: darkred;
  padding: 10px;
}

a {
 color: #00b3e5;
}
  
footer {
  text-align: center;
  font-size: 10px;
}
